.card{
    margin: auto;
    width: 40rem;
    align-items: center;
    
}
.container{
    width: 80rem;
    height: 80rem;
}
.carouselBackground{
    background-color: #C7CAA8;
    padding: 100px;
    margin: 75px;
}
.h1{
    text-align: center;
}
.button{
    background-color:  #78664B  !important;
    outline-color: #78664B  !important;
}